<div class="jumbotron align-middle" style="width: 100%; margin-top: 30px; ">

  <ul class="nav nav-tabs card-header" style="margin-left: 40%; width: 200px;" >
    <li class="nav-item">
      <a class="nav-link active show" data-toggle="tab" href="#login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#register">Register</a>
    </li>
  </ul>

  <div id="myTabContent" class="tab-content  ">

    <div class="tab-pane fade active show card" style="width: 400px; margin-left: 30%" id="login">
      <p>
        <input type="text"
                      [(ngModel)]="loginData.username"
                      class="form-control"
                      style="width: 80%; margin-top: 30px; margin-left: 10%"
                      placeholder="username">
      <input type="password"
                      [(ngModel)]="loginData.password"
                      class="form-control"
                      style="width: 80%; margin-top: 30px; margin-left: 10%"
                      placeholder="password">

        <button type="button" (click)="loginUser()" class="btn btn-info pull-right" style="margin-left: 40%; margin-top: 30px">
                <i class="fa fa-plus">Login</i>
        </button>

      </p>
    </div>


    <div class="tab-pane fad card "  style="width: 400px; margin-left: 30%" id="register">
      <p>
        <input type="text"
               [(ngModel)]="regData.username"
               class="form-control"
               style="width: 80%; margin-top: 30px; margin-left: 10%"
               placeholder="username">
        <input type="text"
               [(ngModel)]="regData.name"
               class="form-control"
               style="width: 80%; margin-top: 30px; margin-left: 10%"
               placeholder="Full Name">
        <input type="email"
               [(ngModel)]="regData.email"
               class="form-control"
               style="width: 80%; margin-top: 30px; margin-left: 10%"
               placeholder="example@gmail.com">
        <input type="password"
               [(ngModel)]="regData.password"
               class="form-control"
               style="width: 80%; margin-top: 30px; margin-left: 10%"
               placeholder="password">

        <button class="btn btn-info pull-right" type="button" (click)="registerUser()" style="margin-left: 40%; margin-top: 30px">
          <i class="fa fa-plus">Register</i>

        </button>

      </p>
    </div>

  </div>
</div>
