.column {
  float: left;
  width: 50%;
  padding: 50px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p{
  color: #cfb728;}

h3{
  color: #cfb728;}

h6{
  font-size: small;}

div{
  table-layout: fixed;
  word-wrap: break-word;
}

#ingr{
  padding-left: 10px;
}
