<!--<div class="row jumbotron align-middle " style="width: 100%; margin-top: 30px; margin-left: 10px; margin-right: 10px;">-->

<div class="container jumbotron align-middle"  style="width: 100%; margin-top: 30px;  margin-right: 10px;">
  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-8">
      <input type="text"
             [(ngModel)]="ingredientName"
             class="form-control"
             style="width: 100%;"
             placeholder="Search recipes by ingredients...">
    </div>
    <div class="col-md-4">
      <button type="buton"
              (click)="getAllRecipes()"
              class="btn btn-info pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> Find recipes
      </button>
    </div>

  </div>

  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <div *ngIf=""></div>
    <!-- Notebooks Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <!--<a  class="list-group-item list-group-item-action">-->
          <!--<i class="fa fa-book"></i>&nbsp;All-->
        <!--&lt;!&ndash; Notebook List &ndash;&gt;-->
        <!--</a>-->

        <!--<a *ngFor="let recipe of recipes" class="list-group-item list-group-item-action">-->
          <!--<b class="btn btn-info pull-right w-100 p-3" (click)="setActualRecipe(recipe)" >&nbsp;{{recipe.label}}<i><br>calories:{{recipe.calories}}</i></b>-->
        <!--</a>-->
        <table *ngFor="let recipe of recipes" class="table table-hover border-primary" style="width: 100%" (click)="setActualRecipe(recipe)" >
          <tbody>
            <tr class="table-primary rounded" >
              <th scope="row" style="width: 75%" >{{recipe.label}}</th>
              <td style="width: 25%">
                <img [src]=recipe.image height="42" width="42">
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <!-- Notes Panel -->
    <div  *ngIf="recipes.length===0"> Keressen rá egy hozzávalóra</div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row">
        <!-- Note list -->
        <div  *ngIf="actualRecipe.length === 0 && recipes.length != 0">Válaszon ki egy receptet</div>
        <div style="width: 50%;" *ngIf="actualRecipe.length != 0 && recipes.length !=0 "  class="jumbotron"  >
          <a *ngFor="let rec of actualRecipe">
            <h3 style="width: 50%">{{rec.label}}</h3>
            <img [src]=rec.image height="250" width="250">
            <br><button type="button" (click)="addToFavorite(rec)" class="btn btn-outline-primary" style="margin-left: 50px;margin-top: 10px">Like</button>
            <button type="button" (click)="addToCart(rec)" class="btn btn-outline-primary"  style="margin-left: 10px;margin-top: 10px">Add to cart</button>
          </a>
        </div>
        <a style="width: 50%" *ngFor="let recipe of actualRecipe">
          <td>
          <div *ngIf="actualRecipe.length != 0 && recipes.length !=0 " id="ingr"  class="jumbotron" style="width: 100%;word-wrap: break-word;">
            <h3>Ingredients</h3>
            <p  *ngFor="let ingredient of recipe.ingredients" style="padding-left: 20px">
              -{{ingredient.text}}</p>
          </div>
          </td>
        </a>
      </div>
    </div>
  </div>
</div>
