<div class="row jumbotron align-middle " style="width: 100%; margin-top: 30px; color: #cfb728">
<h1 style="alignment: center; width: 100%; padding-left: 35%; margin-bottom: 50px;">Shopping Cart</h1>
<div class="card text-white bg-primary mb-3 w-25" *ngFor="let cart of carts" style=" margin-left: 10px">

    <div class="card-header"><b>{{cart.label}}</b>
      <button type="button" class="btn btn-outline-info" (click)="this.deleteCart(cart.id)">Delete</button>
    </div>
    <div class="card-body" style="padding-top: 20px;">
      <h4 class="card-title">Ingredients</h4>
      <p class="card-text" *ngFor="let ing of cart.ingredients">{{ing}}</p>
    </div>
  </div>


</div>
