.spinner{
  border: 16px solid silver;
  border-top: 16px solid red;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  top: 60%;
  left: 45%;
  position: absolute;
}

@keyframes spin {
  0%{transform:rotate(0deg)}
  100%{transform: rotate(360deg)}
}
