<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
  <div *ngIf="showLoadingIndicator" class="spinner"></div>
</div>
