<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
  <a class="navbar-brand">Recipe Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-white" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/feedback">Feedback</a>
      </li>
    </ul>

    <a *ngIf="!token " class="btn btn-primary" routerLink="/login" style="margin-right: 10px">Login/Register</a>
    <button *ngIf="token" class="btn btn-primary" style="margin-right: 10px" type="button" (click)="logout()">Logout</button>
    <a class="nav-item dropdown">
      <a class="btn btn-primary nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/favorites">Favorites</a>
        <a class="dropdown-item" routerLink="/cart">Cart</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/profile">Profile</a>
      </div>
    </a>
    </div>


</nav>

<div *ngIf="showLoadingIndicator" class="spinner">Loading...</div>


