<div class="card" *ngFor="let favorite of favorites; let i = index">
    <table class="table">
      <tr>
        <td style="width: 25px"><img src="{{favorite.image}}" style="width: 25px; height: 25px;"></td>
        <td>
          <a href="#List-{{ i }}"  data-toggle="collapse">{{favorite.label}}</a>
        </td>
      </tr>
    </table>
    <div id="List-{{ i }}" class="collapse">

      <table class="table">
        <tr style="list-style: none" class="w-100">
          <td>
            <ul><img src="{{favorite.image}}" style="width: 250px; height: 250px;"></ul>
            <br><button class="btn btn-primary" style="margin-left: 130px; border: #030005" (click)="deleteFavorite(favorite.id)">Delete</button>
          </td>
          <td>
            <ul class="list-group"><h3>Ingredients</h3>
              <li class="list-group-item" *ngFor="let ing of favorite.ingredients">{{ing}}</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
