<div class="row">

  <div class="row jumbotron align-middle " style="width: 100%; margin-top: 30px;">
    <!--<h1 class="align-middle" style="margin-left: 33%; margin-right: 20%">Recipe application</h1>-->
    <div class="card text-white bg-primary mb-3 w-25" style="margin-left: 90px" >
      <div class="card-header"><b>Find recipes</b></div>
      <div class="card-body" style="padding-top: 20px;">
        <!--<h4 class="card-title">Primary card title</h4>-->
        <p class="card-text" >You can easily find recipes by it's ingredients</p>
      </div>
    </div>
    <div class="card text-white bg-primary mb-3 w-25" style="margin-left: 20px">
      <div class="card-header"><b>Add to favourites</b></div>
      <div class="card-body" style="padding-top: 20px;">
        <!--<h4 class="card-title">Primary card title</h4>-->
        <p class="card-text" >You can save your favourite recipes</p>
      </div>
    </div>
    <div class="card text-white bg-primary mb-3 w-25" style="margin-left: 20px">
      <div class="card-header"><b>Add to shopping cart</b></div>
      <div class="card-body" style="padding-top: 20px;">
        <!--<h4 class="card-title">Primary card title</h4>-->
        <p class="card-text" >You can save the ingredients of a recipe, to watch it on your android phone</p>
      </div>
    </div>

    <h1 class="align-middle" style="margin-left: 37%; margin-right: 20%; padding-top: 40px">Who we are?</h1>

    <div class="card border-primary mb-3" style="max-width: 30%;margin-left: 50px;">
      <div class="card-header"  style="color:#cfb728; ">Bálint Balogh</div>
      <div class="card-body">
        <h4 class="card-title">Backend developer</h4>
        <p class="card-text"><i>"I'm the biggest android developer on the world"</i></p>
      </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 30%; margin-left: 20px">
      <div class="card-header"  style="color:#cfb728; ">Dávid Kiss</div>
      <div class="card-body">
        <h4 class="card-title">Backend developer</h4>
        <p class="card-text"><i style="padding-left: 50px; margin-top: 20px;">"Hello, world!"</i></p>
      </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 30%; margin-left: 20px">
      <div class="card-header" style="color:#cfb728;" >Szabó Márton</div>
      <div class="card-body">
        <h4 class="card-title">Frontend developer</h4>
        <p class="card-text"><i style="padding-left: 50px; margin-top: 20px;">"Css is the most important thing in my life</i></p>
      </div>
    </div>

    <!--<div  style="max-width: 20rem; margin-left: 20px">-->
      <!--<div style="margin-top: 40px">Márton Szabó</div>-->
      <!--<div class="card-body">-->
        <!--<h4 class="card-title" style="color:#cfb728; ">Frontend developer</h4>-->
        <!--<p class="card-text"><i style="padding-left: 10px; color: #ff21b4;">"<span class="badge badge-pill badge-warning">Css</span>is the most important thing in my life"</i></p>-->
      <!--</div>-->
    <!--</div>-->
  </div>


</div>
